In [8]:
import pandas as pd

In [9]:
high_school_dict = [{"School ID": 0, "school_name":"Huang High School", "type": "District"},
                    {"School ID": 1, "school_name":"Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name":"Wilson High school", "type": "Charter"},
                    {"School ID": 6, "school_name":"Cabrera High School", "type": "District"},
                    {"School ID": 7, "school_name":"Bailey High School", "type": "District"},
                    {"School ID": 8, "school_name":"Holden High School", "type": "Charter"},
                    {"School ID": 9, "school_name":"Pena High School", "type": "District"},
                    {"School ID": 10, "school_name":"Wright High School", "type": "Charter"},
                    {"School ID": 11, "school_name":"Rodriguez High school", "type": "Charter"},
                    {"School ID": 12, "school_name":"Johnson High School", "type": "District"},
                    {"School ID": 13, "school_name":"Ford High School", "type": "District"},
                    {"School ID": 14, "school_name":"Caca High School", "type": "Charter"},]
high_school_dict

[{'School ID': 0, 'school_name': 'Huang High School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'},
 {'School ID': 5, 'school_name': 'Wilson High school', 'type': 'Charter'},
 {'School ID': 6, 'school_name': 'Cabrera High School', 'type': 'District'},
 {'School ID': 7, 'school_name': 'Bailey High School', 'type': 'District'},
 {'School ID': 8, 'school_name': 'Holden High School', 'type': 'Charter'},
 {'School ID': 9, 'school_name': 'Pena High School', 'type': 'District'},
 {'School ID': 10, 'school_name': 'Wright High School', 'type': 'Charter'},
 {'School ID': 11, 'school_name': 'Rodriguez High school', 'type': 'Charter'},
 {'School ID': 12, 'school_name': 'Johnson High School', 'type': 'District'},
 {'School ID': 13, 'school_name': 'Ford High School', 'type': 'District'},
 {'School ID': 14, 'school_name': 'Caca High School', 'type': 'Charter'}]

In [10]:
#Individual lists for each category (school id, school_name, and type)
school_id = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

school_name = ['Huang HS', 'Figueroa HS', 'Shelton HS', 'Hernandez HS', 'Griffin HS', 'Wilson HS', 'Cabrera HS', 'Baily HS', 'Holden HS', 'Pena HS', 'Wright HS', 'Rodriguez HS', 'Johnson HS', 'Ford HS', 'Caca HS']

school_type = ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'District', 'District', 'Charter']

#Initialize dataFrame
schools_df = pd.DataFrame()

#Add the lists to the dataFrame
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = school_type

#Print dataFrame
schools_df

    School ID   school_name      type
0           1      Huang HS  District
1           2   Figueroa HS  District
2           3    Shelton HS   Charter
3           4  Hernandez HS  District
4           5    Griffin HS   Charter
5           6     Wilson HS   Charter
6           7    Cabrera HS   Charter
7           8      Baily HS  District
8           9     Holden HS   Charter
9          10       Pena HS   Charter
10         11     Wright HS   Charter
11         12  Rodriguez HS  District
12         13    Johnson HS  District
13         14       Ford HS  District
14         15       Caca HS   Charter